<!DOCTYPE html>
<html>
<head>
</head>

<body>
<div class="container-fluid padding" style="height:64px;"></div>

<!-- Welcome Section -->
<a name="About"></a>
<div class="container-fluid padding">
<div class="row welcome text-center mb-2">
  <div class="col-12">
    <h1 class="display-4">Notebook Storage</h1>
  </div>
  <hr>
  <div class="col-12">
    <%= image_tag "full-logo.svg", class: "card-img-top mx-auto", style: "min-width: 128px; min-height: 128px; width: 320px; height: 320px;" %>
    <p class="lead">
      Self-Taught is a notebook storage application for school, work, and personal use.<br/>
      Improve your learning habits for note-taking, quizzes, and examinations of your subject of interest.<br/>
      Our platform provide tools for storing notes, organization, test-taking skills, scheduling, and discovering works from others.
    </p>
  </div>
</div>
</div>

<!-- Pricing Section -->
<a name="Pricing"></a>
<div class="container-fluid padding bg-dark" style="height:64px;"></div>
<div class="container-fluid text-light bg-dark">
<div class="row welcome text-center">
  <div class="col-12">
    <h1 class="display-4">Pricing</h1>
  </div>
</div>
</div>

<div class="container-fluid padding bg-dark">
<div class="row padding justify-content-center">
  <div class="col-md-6 mb-3">
    <div class="card">
      <%= image_tag "cap-logo.svg", class: "card-img-top mx-auto", style: "width: 128px; height: 128px;" %>
      <div class="card-body">
        <h4 class="card-title text-center rounded text-light bg-dark">Free Plan</h4>
        <p class="card-text">
          &bull; Basic Notebook<br/>
            &nbsp;&nbsp;&nbsp;&nbsp; +40 Sheets<br/>
            &nbsp;&nbsp;&nbsp;&nbsp; +25 Questions<br/>
            &nbsp;&nbsp;&nbsp;&nbsp; +5 Tests<br/>
          &bull; 5 Notebooks per semester (6 months)<br/>
          &bull; 2 months post semester of Notebook privileges<br/>
            &nbsp;&nbsp;- Notebooks of an ended semester can only be viewed after X months
        </p>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Team Section -->
<a name="Team"></a>
<div class="container-fluid padding bg-dark" style="height:64px;"></div>
<div class="container-fluid padding">
<div class="row welcome text-center">
  <div class="col-12">
    <h1 class="display-4">Meet the Team</h1>
  </div>
</div>
</div>

<div class="container-fluid padding">
<div class="row padding mb-2">
  <div class="col-md-3 mb-2">
    <div class="card">
      <img class="card-img-top">
      <div class="card-body">
        <h4 class="card-title text-center">Brandon Foster</h4>
        <p class="card-text text-center">
          Project Leader<br/>
          Website Manager<br/>
          Fullstack Developer<br/>
          Major in C.S.<br/>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-3 mb-2">
    <div class="card">
      <img class="card-img-top">
      <div class="card-body">
        <h4 class="card-title text-center">Shawn Guthrie</h4>
        <p class="card-text text-center">
          <br/>
          Fullstack Developer<br/>
          Mobile Developer<br/>
          Major in C.S.<br/>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-3 mb-2">
    <div class="card">
      <img class="card-img-top">
      <div class="card-body">
        <h4 class="card-title text-center">Daniel Baran</h4>
        <p class="card-text text-center">
          <br/>
          Database Manager<br/>
          Mobile Developer<br/>
          Major in C.S.<br/>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-3 mb-2">
    <div class="card">
      <img class="card-img-top">
      <div class="card-body">
        <h4 class="card-title text-center">Michelle Li</h4>
        <p class="card-text text-center">
          <br/>
          Database Manager<br/>
          Mobile Developer<br/>
          Major in C.S.<br/>
        </p>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Developer Section -->
<a name="Developer"></a>
<div class="container-fluid padding" style="height:64px;"></div>
<div class="container-fluid padding">
<div class="row welcome text-center">
  <div class="col-12">
    <h1 class="display-4">Developer</h1>
  </div>
  <hr>
  <div class="col-12">
    <p class="lead">
      Interested in creating applications that support Self-Taught tools for creating notebooks, uploading notes, and our other features?<br/>
      Read the API Documentation for more information.
    </p>
  </div>
</div>
</div>

<div class="container-fluid padding" style="height:64px;"></div>
</body>
</html>
