<!DOCTYPE html>
<html>
<head>
</head>

<body>
<div class="container-fluid padding" style="height:64px;"></div>

<!-- Notebook Viewing Section -->
<div class="container-fluid padding">
<div class="row welcome text-center mb-2">
  <div class="col-12">
    <h1 class="display-4">Public Notebooks</h1>
  </div>
</div>
</div>

<div class="container-fluid padding">
<div class="row mx-2">
  <div class="d-flex flex-row flex-wrap justify-content-center mx-auto">
    <% @notebooks.each do |notebook| %>
			<div class="mx-4 my-2">
      	<%= render :template => "notebooks/_notebook", :locals => { :notebook => notebook } %>
			</div>
    <% end %>
  </div>
</div>
</div>

<div class="container-fluid padding" style="height:64px;"></div>
</body>
</html>
