<!DOCTYPE html>
<html>
<head>
</head>

<body>
<!-- Notebook Creation Section -->
<div class="container-fluid padding my-auto">
<div class="row justify-content-center">
  <div class="col-12 text-center">
    <h1 class="display-4">New Notebook</h1>
  </div>
  <hr>
  <div class="col col-sm-8" style="max-width: 512px;">
    <%= form_for (Notebook.new) do |f| %>
      <label for="notebook-name">Name:</label>
      <input name="notebook_name" id="notebook-name" type="text" class="form-control form-control-sm mb-2" aria-label="notebook name" aria-describedby="addon-wrapping" autofocus=true autocomplete="notebook name">

      <label for="notebook-description">Description:</label>
      <textarea name="notebook_description" id="notebook-description" class="form-control form-control-sm mb-2" style="height:96px" aria-label="notebook description" aria-describedby="addon-wrapping" autocomplete="notebook description"></textarea>

      <label for="notebook-tags">Tags:</label>
      <input name="notebook_tags" id="notebook-tags" type="text" class="form-control form-control-sm mb-2" aria-label="notebook tags" aria-describedby="addon-wrapping" autocomplete="notebook tags">

      <span class="mb-2">
        <label class="mr-2">Private:</label>
        <label class="switch switch-sm">
          <input name="notebook_private" type="checkbox" checked>
          <span class="slider slider-sm round"></span>
        </label>
      </span>

      <div class="input-group input-group-sm">
        <%= f.submit "Create", type: "submit", class: "btn btn-sm btn-primary mx-auto" %>
      </div>
    <% end %>
  </div>
</div>
</div>

</body>
</html>
