<!DOCTYPE html>
<html>
  <head>
		<style>
  	</style>
  </head>

  <body>
    <div class="my-5 mx-5">
		  <%= draw_notebook(ApplicationController::ViewType::DESKTOP, "Adv. Prog Languages", "My notes for advance programming languages.") %>
    </div>
  </body>
</html>
