<!DOCTYPE html>
<html>
  <head>
		<style>
  	</style>
  </head>

  <body>
		<div class="d-flex justify-content-center flex-column w-100 h-100">
			<div class="card text-center mx-auto" style="width: 480px;">
				<div class="card-header">
					Login
				</div>
				<div class="card-body">
					<form>
						<input type="text" class="form-control my-2" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
						
						<input type="password" class="form-control my-2" id="InputPassword" aria-describedby="passwordHelp" placeholder="Password">
						<small id="passwordHelp" class="form-text text-muted">Never share your password with anyone else.</small>
						
						<div class="form-row align-items-center my-2">
							<button type="submit" class="btn btn-primary mx-2">Login</button>
							
							<%= link_to 'Forgot Password', { :controller => :users, :action => :new }, class: "btn btn-danger mx-2", role: "button" %>
							
							<div class="form-check mx-2">
								<input class="form-check-input" type="checkbox" id="autoSizingCheck2">
								<label class="form-check-label" for="autoSizingCheck2">
									Remember me
								</label>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
  </body>
</html>