<!DOCTYPE html>
<html>
  <head>
		<style>
  	</style>
  </head>

  <body>
		<div class="d-flex justify-content-center flex-column w-100 h-100">
			<div class="card text-center mx-auto" style="width: 480px;">
				<div class="card-header">
					Registration Complete
				</div>
				<div class="card-body">
					<form>
						<div class="form-row">
							<label>You have completed the registration</label>
						</div>
					</form>
				</div>
			</div>
		</div>
  </body>
</html>