<!DOCTYPE html>
<html>
  <head>
		<style>
  	</style>
  </head>

  <body>
		<div class="d-flex justify-content-center flex-column w-100 h-100">
			<div class="card text-center mx-auto" style="width: 480px;">
				<div class="card-header">
					Recover
				</div>
				<div class="card-body">
					<form>
						<div class="form-row">
							<input type="text" class="form-control my-2" placeholder="Email" aria-label="Email" aria-describedby="addon-wrapping">
							<div class="form-check form-check-inline my-2">
								<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
								<label class="form-check-label mr-2" for="exampleRadios1">
									Username
								</label>
								<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
								<label class="form-check-label" for="exampleRadios1">
									Password
								</label>
							</div>
							<button type="submit" class="btn btn-primary mx-2">Recover</button>
						</div>
					</form>
				</div>
			</div>
		</div>
  </body>
</html>