<% if @navbars & ApplicationController::Navbar::INFO_NAV_TOP %>
<nav class="navbar navbar-expand-lg navbar-light bg-light w-100 shadow", style="top: 0px;">
  <%= link_to "<i class='material-icons align-middle'>face</i> Self-Taught |<small>improve your study skills</small>|".html_safe, { :controller => :homepage, :action => :index }, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="material-icons align-middle">insert_drive_file</i> Notes <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="material-icons align-middle text-success">android</i> Android App <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <%= render "layouts/user_nav" %>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Courses, Notes, ..." aria-label="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">
        <i class="material-icons align-middle">search</i>
      </button>
    </form>
  </div>
</nav>
<% end %>