<% if @navbars & ApplicationController::Navbar::SITE_FOOTER %>
<footer class="footer bg-light w-100 h-100">
	<small>
		<p class="text-center">Self-Taught Application &copy; <%= Date.today.year %></p>
	</small> 
</footer>
<% end %>