<% if @navbars & ApplicationController::Navbar::SITE_FOOTER %>
<div class="container">
	<footer class="footer fixed-bottom">
		<small>
			<p class="text-center">Self-Taught Application &copy; <%= Date.today.year %></p>
		</small> 
	</footer>
</div>
<% end %>