$bg-color1: #2088FF;
$text-color1: #D2D2D2;
$shade-color1: #00000040;

$bg-color2: #EFEFEF;
$text-color2: #5F5F5F;

$bg-color3: #333333;
$text-color3: white;

.bg-color1 {
	background-color: $bg-color1;
}
.text-color1 {
	color: $text-color1;
}
.shade-color1 {
	background-color: $shade-color1;
}
.bg-color2 {
	background-color: $bg-color2;
}
.text-color2 {
	color: $text-color2;
}
.bg-color3 {
	background-color: $bg-color3;
}
.text-color3 {
	color: $text-color3;
}

.my-nav {
	width: 100%;
	height: 44px;
}
.my-nav-item {
	width: 128px;
	height: 100%;
	border-left-style: solid;
	border-color: $shade-color1;
	border-width: 1px;
}
.my-nav-item-sm {
	width: 44px;
	@extend .my-nav-item;
}

.my-nav-item-lg {
	width: 256px;
	@extend .my-nav-item;
}
.my-nav-link1 {
	color: $text-color1;
	text-decoration: none;
}
.my-nav-link1:link {
	color: $text-color1;
	text-decoration: none;
}
.my-nav-link1:visited {
	color: $text-color1;
	text-decoration: none;
}
.my-nav-link1:hover {
	background-color: $bg-color3;
	color: white;
	text-decoration: none;
}
.my-nav-home {
	@extend .my-nav-item-sm;
	@extend .bg-color2;
	@extend .text-color2;
}
.my-nav-brand {
	@extend .my-nav-item-lg;
	@extend .bg-color2;
	@extend .text-color2;
}
.my-nav-library {
	@extend .my-nav-item;
	@extend .my-nav-link1;
}
.my-nav-pricing {
	@extend .my-nav-item;
	@extend .my-nav-link1;
}
.my-nav-contact {
	@extend .my-nav-item;
	@extend .my-nav-link1;
	border-right-style: solid;
}
.my-nav-notebooks {
	@extend .my-nav-item;
	@extend .my-nav-link1;
	@extend .shade-color1;
}
.my-nav-user {
	@extend .my-nav-item-lg;
	@extend .my-nav-link1;
	@extend .shade-color1;
}
.my-nav-mail {
	@extend .my-nav-item-sm;
	@extend .my-nav-link1;
	@extend .shade-color1;
}
.my-nav-login {
	@extend .my-nav-item;
	@extend .my-nav-link1;
	@extend .shade-color1;
}
.my-nav-signup {
	@extend .my-nav-item;
	@extend .my-nav-link1;
	@extend .shade-color1;
}
.my-nav-options {
	@extend .my-nav-item-sm;
	@extend .my-nav-link1;
	@extend .shade-color1;
	border-right-style: solid;
}

.notebook-container {
	width: 224px;
	height: 256px;
	min-height: 256px;
	border-radius: 5px;
	background-color: white;
}
.notebook-button {
	color: #00000048;
	border-bottom-color: $shade-color1;
	border-bottom-style: solid;
	border-width: 1px;
}
.notebook-menu-top {
	border-bottom-color: $shade-color1;
	border-bottom-style: solid;
	border-width: 1px;
	height: 32px;
}
.notebook-button:hover {
	color: white;
}

footer {
	right: 0px;
	left: 0px;
	bottom: 0px;
	border-top: 1px solid #eaeaea;
	color: #777;
}