<!DOCTYPE html>
<html>
<head>
</head>

<body>
<div class="container-fluid padding" style="height:64px;"></div>

<!-- Test Viewing Section -->
<div class="container-fluid padding">
<div class="row welcome text-center mb-2">
  <div class="col-12">
    <h1 class="display-4"><% if @owner %>Your<% else %>User<% end %> Tests</h1>
  </div>
</div>
</div>

<div class="container-fluid padding">
<div class="row mx-2">
  <div class="d-flex flex-row flex-wrap justify-content-center mx-auto w-100">
    <% @tests.each do |test| %>
      <div class="mx-4 my-2 w-100">
        <%= render :template => "layouts/_item_entry", :locals => { :test => test, :entry_type => "test" } %>
      </div>
    <% end %>
  </div>
</div>
</div>

<div class="container-fluid padding" style="height:64px;"></div>
</body>
</html>
